@font-face{
	font-family: "Fira Sans";
	src: url("../fonts/FiraSans-UltraLight.eot");
	src: local("Fira Sans UltraLight"),
	url("../fonts/FiraSans-UltraLight.eot") format("embedded-opentype"),
	url("../fonts/FiraSans-UltraLight.woff") format("woff"),
	url("../fonts/FiraSans-UltraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face{
	font-family: "Fira Sans";
	src: url("../fonts/FiraSans-Light.eot");
	src: local("Fira Sans Light"),
	url("../fonts/FiraSans-Light.eot") format("embedded-opentype"),
	url("../fonts/FiraSans-Light.woff") format("woff"),
	url("../fonts/FiraSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: "Fira Sans";
	src: url("../fonts/FiraSans-Regular.eot");
	src: local("Fira Sans Regular"),
	url("../fonts/FiraSans-Regular.eot") format("embedded-opentype"),
	url("../fonts/FiraSans-Regular.woff") format("woff"),
	url("../fonts/FiraSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/* Generated by Glyphter (http://www.glyphter.com) on  Fri Nov 13 2015*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 98px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-debian:before{content:'\0041';}
.icon-gentoo:before{content:'\0042';}
.icon-arch:before{content:'\0043';}
.icon-diaspora:before{content:'\0044';}
.icon-minionbook:before{content:'\0045';}
.icon-dramabird:before{content:'\0046';}
