@font-face {
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/fira+sans-300.eot");
	src: url("../fonts/fira+sans-300.eot?#iefix") format("embedded-opentype"), url("../fonts/fira+sans-300.woff") format("woff"), url("../fonts/fira+sans-300.ttf") format("truetype"), url("../fonts/fira+sans-300.svg#fira_sansregular") format("svg");
}