@font-face {
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/FiraSans-Light.eot");
	src: local("Fira Sans Light"),
		url("../fonts/FiraSans-Light.eot") format("embedded-opentype"),
		url("../fonts/FiraSans-Light.woff") format("woff"),
		url("../fonts/FiraSans-Light.ttf") format("truetype");
}