body {
	font-family: "Fira Sans";
	font-style: normal;
	text-rendering: optimizelegibility;
}

* {
	font-weight: 300 !important;
}

.navbar {
	background: #ECF0F1;
	border-color: #ECF0F1;
	margin-bottom: 0;
	border-radius: 0;
}

.nav li a {
	color: #4B5F6D;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 46px;
	padding-top: 2px;
}

section {
	padding: 25px 25px 0px;
	padding-top: 25px;
	min-height: 200px;
}

@media (max-width: 480px) {
	* {
		text-align: center
	}

	section {
		padding: 15px 15px 0px;
	}
}

.lead {
	margin-bottom: 0;
	padding-bottom: 20px;
}

#cover {
	background: #24221F;
	color: #C4D2DF;
}

@media (min-width: 768px) {
	#cover {
		height: calc(100vh - 52px);
		display: flex;
		align-items: center;
	}

	#cover-line {
		display: flex;
		align-items: center;
		align-content: center;
	}
}

#cover-line img {
	height: 280px;
	width: calc(100% - 5px);
	margin: 10px;
}

#cover-line .header {
	color: #FEB41C;
}

#cover-line .button {
	cursor: pointer;
	display: inline-block;
	padding: 0px 1em;
	border-radius: 3px;
	text-align: center;
	line-height: 2.3em;
	font-size: 18px;
	margin-right: 5px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.1) inset, 0px -0.15em 0px rgba(0, 0, 0, 0.2) inset, 0px 0.15em 0px rgba(0, 0, 0, 0.075);
}

@media (max-width: 768px) {
	#cover-line .button {
		margin-bottom: 15px;
	}
}

#cover-line .button.learn-more {
	background: #A7BABE;
	color: #fff;
}

#cover-line .button.download {
	background: #ff9805;
	color: #fff;
}

#mini-about {
	background: #5E7C88;
	color: #fff;
	text-align: center;
}

#mini-about .header {
	margin-top: 0;
}

#screenshot {
	background: #ECF0F1;
	color: #4B5F6D;
	text-align: center;
}

#screenshot .feature .icon {
	font-size: 45px;
}

#screenshot .screenshot {
	width: 100%;
}

#download {
	background: #5E7C88;
	color: #fff;
	text-align: center;
}

#download .header {
	color: #FEB41C;
}

#download .row {
	width: 90%;
	margin-left: 5%;
}

#download .row .button {
	padding-top: 15px;
	margin: 15px 0 -10px;
	border-radius: 5px;
	background: #4B5F6D;
	color: #fff;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

#download .row .button .icon {
	font-size: 30px;
}

#social-media {
	background: #24221F;
	color: #C4D2DF;
	background: #414141;
	color: #fff;
	text-align: center;
}

#social-media .header {
	margin-bottom: 25px;
}

#social-media .row {
	width: 90%;
	margin-left: 5%;
}

#social-media .row a {
	color: #fff;
	display: block;
}

#social-media .icon {
	font-size: 30px;
}

#footer {
	background: #ECF0F1;
	color: #4B5F6D;
	padding: 15px 15px 0 15px;
}

#footer .cc {
	text-align: right;
	font-size: 15px;
}

#footer .languages {
	margin-bottom: 25px;
}

/* other colours: #ECF0F1, #FEB41C, #24221F */