body {
	font-family: "Fira Sans";
	font-style: normal;
	text-rendering: optimizelegibility;
	font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.lead {
	font-weight: 200;
}

.navbar {
	background: #252A2B;
	border-color: #252A2B;
	margin-bottom: 0;
	border-radius: 0;
	font-weight: 400;
}

@media (min-width: 768px) {
	.navbar {
		height: 70px;
	}
}

.nav {
	margin-top: 8px;
}

.nav > li > a {
	color: #C4D2DF;
}

.nav > li > a:focus, .nav > li > a:hover {
	color: #fff;
	background: #252A2B;
	text-decoration: underline;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	height: 50px; 
	padding-top: 10px;
}

section {
	padding: 25px 25px 0;
	padding-top: 25px;
}

@media (max-width: 480px) {
	* {
		text-align: center
	}

	section {
		padding: 15px 15px 0px;
	}
}

.lead {
	margin-bottom: 0;
	padding-bottom: 20px;
}

#cover {
	background: #252A2B;
	color: #C4D2DF;
	text-align: center;
}

@media (min-width: 768px) {
	#cover {
		height: calc(100vh - 70px);
		max-height: 900px;
		display: flex;
		align-items: center;
		text-align: left;
	}

	#cover-line {
		display: flex;
		align-items: center;
		align-content: center;
	}
}

#cover-line img {
	height: 280px;
	width: calc(100% - 5px);
	margin: 10px;
}

#cover-line .header {
	color: #ff9805;
}

#cover-line .button {
	font-weight: 400;
	cursor: pointer;
	display: inline-block;
	padding: 0px 1em;
	border-radius: 3px;
	text-align: center;
	line-height: 2.3em;
	font-size: 18px;
	margin-right: 5px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0.1em 0px rgba(255, 255, 255, 0.1) inset, 0px -0.15em 0px rgba(0, 0, 0, 0.2) inset, 0px 0.15em 0px rgba(0, 0, 0, 0.075);
}

@media (max-width: 768px) {
	#cover-line .button {
		margin-bottom: 15px;
	}
}

#cover-line .button.learn-more {
	background: #22658A;
	color: #fff;
}

#cover-line .button.download {
	background: #ff9805;
	color: #fff;
}

#mini-about {
	background: #22658A;
	color: #fff;
	text-align: center;
}

#mini-about .header {
	margin-top: 0;
}

#screenshot {
	background: #ECF0F1;
	color: #252A2B;
	text-align: center;
}

#screenshot .feature .icon {
	font-size: 45px;
}

#screenshot .screenshot {
	width: 100%;
}

#download {
	background: #22658A;
	color: #fff;
	text-align: center;
}

#download .header {
	color: #56C3FF;
}

#download .row {
	width: 90%;
	margin-left: 5%;
}

#download .row .button {
	padding-top: 15px;
	margin: 15px 0 -10px;
	color: #fff;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

#download .row .button .icon {
	font-size: 30px;
}

#social-media {
	background: #252A2B;
	color: #C4D2DF;
	color: #fff;
	text-align: center;
}

#social-media .header {
	margin-bottom: 25px;
}

#social-media .row {
	width: 90%;
	margin-left: 5%;
}

#social-media .row .button {
	color: #fff;
	display: block;
	margin: 15px 0px 20px;
}

#social-media .icon {
	font-size: 30px;
}

#footer {
	background: #ECF0F1;
	font-weight: 300;
	color: #4B5F6D;
	padding: 15px 15px 0 15px;
}

#footer .cc {
	text-align: center;
	font-size: 15px;
}

#footer .languages {
	margin-bottom: 25px;
}
