{% extends 'blog/templates/_base.html' %}

{% block title %}Archives for {{ period | reverse | join(' ') }}{% endblock %}

{% block content %}
<section id="content" class="container">
	<h1 class="text-center">Archives for {{ period | reverse | join(' ') }}</h1>
	<div class="center-block text-center">
		<ul class="center-block">
		{% for article in dates %}
			<dt>{{ article.locale_date }}</dt>
			<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
		{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
