{% extends '_base.html' %}
{% block title %}About{% endblock %}
{% block content %}
	<section id="tox-project" class="dark">
		<div class="container-fluid limit-width">
			<h1 class="header">The Tox Project</h1>
			<hr>
			<p class="lead">
			Tox began a few years ago, in the wake of Edward Snowden's leaks regarding NSA
			spying activity. The idea was to create an instant messaging application that
			ran without requiring the use of central servers. The system would be
			distributed, peer-to-peer, and end-to-end encrypted, with no way to disable any
			of the encryption features; at the same time, the application would be easily
			usable by the layperson with no practical knowledge of cryptography or
			distributed systems. During the Summer of 2013 a small group of developers from
			all around the globe formed and began working on a library implementing the Tox
			protocol. The library provides all of the messaging and encryption facilities,
			and is completely decoupled from any user-interface; for an end-user to make
			use of Tox, they need a Tox client. Fast-forward a few years to today, and there
			exist several independent Tox client projects, and the original Tox core
			library implementation continues to improve. Tox (both core library and
			clients) has thousands of users, hundreds of contributors, and the project
			shows no sign of slowing down.
			</p>
			<p class="lead">
			Tox is a FOSS (Free and Open Source) project. All Tox code is open source and
			all development occurs in the open. Tox is developed by volunteer developers who
			spend their free time on it, believing in the idea of the project. Tox is not a
			company or any other legal organization. Currently we don't accept donations as
			a project, but you are welcome to reach out to developers individually.
			</p>
		</div>
	</section>

	<section id="contact">
		<div class="container-fluid limit-width">
			<h2 class="header">Contact</h2>
			<p class="lead">
			This website and other infrastructure such as wiki, blog, etc. are maintained
			by some of the long-time contributors of Tox. If you have a legal question, or
			if you notice something is wrong with tox.chat servers, or you find an outdated
			information on the one of tox.chat websites -- you can send an email to our
			distribution list <a href="mailto:leadership@tox.chat">leadership@tox.chat</a>.
			Please note that this email is not the right place to ask for general user
			support. Please use our <a href="https://lists.tox.chat/listinfo">mailing lists
			</a> or the <a href="https://www.reddit.com/r/projecttox/">Reddit forums</a> for
			general user support.
			</p>
			<p class="lead">
			For the reference, here is the list of the said long-time Tox contributors
			running the infrastructure:
			</p>
			<ul class="lead">
				<li><a href="mailto:impyy@tox.chat">Impyy</a></li>
				<li><a href="mailto:irungentoo@tox.chat">irungentoo</a></li>
				<li><a href="mailto:JFreegman@tox.chat">Jfreegman</a></li>
				<li><a href="mailto:mannol@tox.chat">mannol</a></li>
				<li><a href="mailto:nurupo@tox.chat">nurupo</a></li>
				<li><a href="mailto:oranges@tox.chat">oranges</a></li>
				<li><a href="mailto:stal@tox.chat">stal</a></li>
			</ul>
		</div>
	</section>
{% endblock %}
