{% extends '_base.html' %}
{% block title %}Clients{% endblock %}
{% block content %}
	<section id="clients" class="dark">
		<div class="container-fluid limit-width">
			<h1 class="center header">Tox Clients</h1>
			<p class="lead center">The following is a list of Tox clients available for download through our repositories and/or build servers.</p>

			<hr>

			<div id="qtox" class="row">
				<a href="#qtox-images" class="img-container"><img src="theme/img/client/qtox_mac.png"></a>
				<h2 class="header">qTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Website:</th>
							<th><a href="https://qtox.github.io">https://qtox.github.io</a>
						</tr>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/qTox/qTox">https://github.com/qTox/qTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/tux3/">tux3</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C++</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>Qt</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows, macOS, BSD</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">qTox is a powerful client based on Qt, with an intuitive and feature rich user interface as well as a fast core written in C++. qTox runs on Windows, Linux, MacOS and FreeBSD and offers text messaging, audio and video calls, screen sharing and file transfers. Additionally it has support for text and audio group chats as well as Identicons as avatars. New features are regularly added by our active and welcoming community.</p>
			</div>

			<hr>

			<div id="utox" class="row">
				<a href="#utox-images" class="img-container"><img src="theme/img/client/utox_mac.png"></a>
				<h2 class="header">uTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/uTox/uTox">https://github.com/uTox/uTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/avoidr/">avoidr</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>None (Xlib)</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows, macOS, BSD</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">µTox is the lightweight client with minimal dependencies; it not only looks pretty, it runs fast! µTox is available for Windows, OS X, and Linux, with full support for chat, file transfers, audio/video calling, and desktop sharing (both as video and inline screenshots). It also supports text group chats with audio groups pending the next Toxcore update.</p>
			</div>

			<hr>

			<div id="toxygen" class="row">
				<a href="#toxygen-images" class="img-container"><img src="theme/img/client/toxygen_1.png"></a>
				<h2 class="header">Toxygen</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/toxygen-project/toxygen">https://github.com/toxygen-project/toxygen</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/ingvar1995">Ingvar</a>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Python3</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="http://www.pyside.org/">PySide</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Toxygen is cross-platform Tox client written in pure Python3 with a lot of unique features such as plugins and faux offline file transfers. Development is led by Ingvar.</p>
			</div>

			<hr>

			<div id="toxic" class="row">
				<a href="#toxic-images" class="img-container"><img src="theme/img/client/toxic_linux.png"></a>
				<h2 class="header">Toxic</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/Jfreegman/toxic">https://github.com/Jfreegman/toxic</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://wiki.tox.chat/wiki/user/jfreegman">Jfreegman</a>, <a href="https://github.com/mannol">mannol</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="https://www.gnu.org/software/ncurses/ncurses.html">ncurses</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, macOS, BSD, Android (via Termux)</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Toxic is a client with an ncurses interface, written entirely in C. It has support for all basic features, as well as 1-on-1 audio/video chats, and is capable of working on bare-bones systems that lack graphical interfaces. Development is lead by Jfreegman.</p>
			</div>

			<hr>

			<div id="atox" class="row">
				<a href="#atox-images" class="img-container"><img src="theme/img/client/atox_1.jpg"></a>
				<h2 class="header">aTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/evilcorpltd/aTox">https://github.com/evilcorpltd/aTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/robinlinden">robinlinden</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Kotlin</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>N/A</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Android</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">The reasonable Tox client for Android.</p>
			</div>

			<hr>

			<div id="trifa" class="row">
				<a href="#trifa-images" class="img-container"><img src="theme/img/client/trifa.png"></a>
				<h2 class="header">TRIfA</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/zoff99/ToxAndroidRefImpl">https://github.com/zoff99/ToxAndroidRefImpl</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/zoff99">Zoff</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Java</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>N/A</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Android</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Tox Reference implementation for Android.</p>
			</div>

		</div>
	</section>

	<section id="os-support" class="features">
		<div class="container-fluid limit-width">
			<h1>OS support:</h1>
			<hr>

			<table class="table table-bordered table-condensed" style="margin:auto;width:60%;">
				<thead>
					<tr>
						<th></th>
						<th>Win&shy;dows</th>
						<th>GNU/ Linux</th>
						<th>BSD</th>
						<th>macOS</th>
						<th>And&shy;roid</th>
						<th>iOS</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th>qTox</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>uTox</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Toxygen</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Toxic</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="warning">Min&shy;imal (via Ter&shy;mux)</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>aTox</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>TRIfA</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
					</tr>

				</tbody>
			</table>
		</div>
	</section>

	<section id="modals">
		<div id="qtox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="qtox-images-control1" name="qtox-images-controls" checked="checked">
					<label for="qtox-images-control1"></label>
					<input type="radio" id="qtox-images-control2" name="qtox-images-controls">
					<label for="qtox-images-control2"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/qtox_mac.png"></div></li>
							<li><div><img src="theme/img/client/qtox_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="utox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="utox-images-control1" name="utox-images-controls" checked="checked">
					<label for="utox-images-control1"></label>
					<input type="radio" id="utox-images-control2" name="utox-images-controls">
					<label for="utox-images-control2"></label>
					<input type="radio" id="utox-images-control3" name="utox-images-controls">
					<label for="utox-images-control3"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/utox_mac.png"></div></li>
							<li><div><img src="theme/img/client/utox_linux.png"></div></li>
							<li><div><img src="theme/img/client/utox_windows.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div id="toxygen-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="toxygen-images-control1" name="toxygen-images-controls" checked="checked">
					<label for="toxygen-images-control1"></label>
					<input type="radio" id="toxygen-images-control2" name="toxygen-images-controls">
					<label for="toxygen-images-control2"></label>
					<input type="radio" id="toxygen-images-control3" name="toxygen-images-controls">
					<label for="toxygen-images-control3"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/toxygen_1.png"></div></li>
							<li><div><img src="theme/img/client/toxygen_2.png"></div></li>
							<li><div><img src="theme/img/client/toxygen_3.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="toxic-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="toxic-images-control1" name="toxic-images-controls" checked="checked">
					<label for="toxic-images-control1"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/toxic_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="atox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="atox-images-control1" name="atox-images-controls" checked="checked">
					<label for="atox-images-control1"></label>
					<input type="radio" id="atox-images-control2" name="atox-images-controls">
					<label for="atox-images-control2"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/atox_1.jpg"></div></li>
							<li><div><img src="theme/img/client/atox_2.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="trifa-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="trifa-images-control1" name="trifa-images-controls" checked="checked">
					<label for="trifa-images-control1"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/trifa.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
