{% extends '_base.html' %}
{% block title %}Clients{% endblock %}
{% block content %}
	<section id="clients" class="dark">
		<div class="container-fluid limit-width">
			<h1 class="center header">Tox Clients</h1>
			<p class="lead center">The following is a list of Tox clients available for download through our repositories and/or build servers.</p>

			<hr>

			<div id="qtox" class="row">
				<a href="#qtox-images" class="img-container"><img src="theme/img/client/qtox_mac.png"></a>
				<h2 class="header">qTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/TokTok/qTox">https://github.com/TokTok/qTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th>The TokTok team</th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C++</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>Qt</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows, macOS, BSD</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">qTox is a powerful client based on Qt, with an intuitive and feature rich user interface as well as a fast core written in C++. qTox runs on Windows, Linux, MacOS and FreeBSD and offers text messaging, audio and video calls, screen sharing and file transfers. Additionally it has support for text and audio group chats as well as Identicons as avatars. New features are regularly added by our active and welcoming community.</p>
			</div>

			<hr>

			<div id="toxic" class="row">
				<a href="#toxic-images" class="img-container"><img src="theme/img/client/toxic_linux.png"></a>
				<h2 class="header">Toxic</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/Jfreegman/toxic">https://github.com/Jfreegman/toxic</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://wiki.tox.chat/wiki/user/jfreegman">Jfreegman</a>, <a href="https://github.com/mannol">mannol</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="https://www.gnu.org/software/ncurses/ncurses.html">ncurses</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, macOS, BSD, Android (via Termux)</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Toxic is a client with an ncurses interface, written entirely in C. It has support for all basic features, as well as 1-on-1 audio/video chats, and is capable of working on bare-bones systems that lack graphical interfaces. Development is lead by Jfreegman.</p>
			</div>

			<hr>

			<div id="atox" class="row">
				<a href="#atox-images" class="img-container"><img src="theme/img/client/atox_1.jpg"></a>
				<h2 class="header">aTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/evilcorpltd/aTox">https://github.com/evilcorpltd/aTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/robinlinden">robinlinden</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Kotlin</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>N/A</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Android</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">The reasonable Tox client for Android.</p>
			</div>

		</div>
	</section>

	<section id="os-support" class="features">
		<div class="container-fluid limit-width">
			<h1>OS support:</h1>
			<hr>

			<table class="table table-bordered table-condensed" style="margin:auto;width:60%;">
				<thead>
					<tr>
						<th></th>
						<th>Win&shy;dows</th>
						<th>GNU/ Linux</th>
						<th>BSD</th>
						<th>macOS</th>
						<th>And&shy;roid</th>
						<th>iOS</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th>qTox</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Toxic</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="warning">Min&shy;imal (via Ter&shy;mux)</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>aTox</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
					</tr>

				</tbody>
			</table>
		</div>
	</section>

	<section id="modals">
		<div id="qtox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="qtox-images-control1" name="qtox-images-controls" checked="checked">
					<label for="qtox-images-control1"></label>
					<input type="radio" id="qtox-images-control2" name="qtox-images-controls">
					<label for="qtox-images-control2"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/qtox_mac.png"></div></li>
							<li><div><img src="theme/img/client/qtox_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="toxic-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="toxic-images-control1" name="toxic-images-controls" checked="checked">
					<label for="toxic-images-control1"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/toxic_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="atox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="atox-images-control1" name="atox-images-controls" checked="checked">
					<label for="atox-images-control1"></label>
					<input type="radio" id="atox-images-control2" name="atox-images-controls">
					<label for="atox-images-control2"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/atox_1.jpg"></div></li>
							<li><div><img src="theme/img/client/atox_2.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
