{% extends '_base.html' %}
{% block title %}Clients{% endblock %}
{% block content %}
	<section id="clients" class="dark">
		<div class="container-fluid limit-width">
			<h1 class="center header">Tox Clients</h1>
			<p class="lead center">The following is a list of Tox clients available for download through our repositories and/or build servers.</p>

			<hr>

			<div id="qtox" class="row">
				<a href="#qtox-images" class="img-container"><img src="theme/img/client/qtox_mac.png"></a>
				<h2 class="header">qTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/qTox/qTox">https://github.com/qTox/qTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/tux3/">tux3</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C++</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>Qt</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows, OSX, BSD</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">A Qt graphical user interface for Tox.</p>
			</div>

			<hr>

			<div id="utox" class="row">
				<a href="#utox-images" class="img-container"><img src="theme/img/client/utox_mac.png"></a>
				<h2 class="header">uTox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/uTox/uTox">https://github.com/uTox/uTox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/GrayHatter/">GrayHatter</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>None</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows, OSX, BSD, Android</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">µTox is the lightweight client with minimal dependencies; it not only looks pretty, it runs fast! µTox is available for Windows, OS X, and Linux (Android support is experimental), with full support for chat, file transfers, audio/video calling, and desktop sharing (both as video and inline screenshots). It also supports text group chats with audio groups pending the next Toxcore update.</p>
			</div>

			<hr>

			<div id="ricin" class="row">
				<a href="#ricin-images" class="img-container"><img src="theme/img/client/ricin_linux.png"></a>
				<h2 class="header">Ricin</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/RicinApp/Ricin">https://github.com/RicinApp/Ricin</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/SkyzohKey">SkyzohKey</a>, <a href="https://github.com/gmscs">gmscs</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Vala</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="http://www.gtk.org/">GTK+3</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Ricin aims to be a secure, lightweight, hackable and fully-customizable Tox client with focus on user experience. Development is lead by SkyzohKey.</p>
			</div>

			<hr>

			<div id="toxygen" class="row">
				<a href="#toxygen-images" class="img-container"><img src="theme/img/client/toxygen_1.png"></a>
				<h2 class="header">Toxygen</h2>

				<table class="table table-condensed">
					<tbody>
							<th>Repository:</th>
							<th><a href="https://github.com/toxygen-project/toxygen">https://github.com/toxygen-project/toxygen</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/ingvar1995">Ingvar</a>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Python3</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="http://www.pyside.org/">PySide</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, Windows</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Toxygen is cross-platform Tox client written in pure Python3 with a lot of unique features such as plugins and faux offline file transfers. Development is lead by Ingvar.</p>
			</div>

			<hr>

			<div id="toxic" class="row">
				<a href="#toxic-images" class="img-container"><img src="theme/img/client/toxic_linux.png"></a>
				<h2 class="header">Toxic</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/Jfreegman/toxic">https://github.com/Jfreegman/toxic</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://wiki.tox.chat/wiki/user/jfreegman">Jfreegman</a>, <a href="https://github.com/mannol">mannol</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th><a href="https://www.gnu.org/software/ncurses/ncurses.html">ncurses</a></th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Linux, OSX, BSD</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Toxic is a client with an ncurses interface, written entirely in C. It has support for all basic features, as well as 1-on-1 audio/video chats, and is capable of working on bare-bones systems that lack graphical interfaces. Development is lead by Jfreegman.</p>
			</div>

			<hr>

			<div id="antox" class="row">
				<a href="#antox-images" class="img-container"><img src="theme/img/client/antox.png"></a>
				<h2 class="header">Antox</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/Antox/Antox">https://github.com/Antox/Antox</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/wiiaam">wiiaam</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Scala</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>N/A</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>Android</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Antox is an Android client for Tox. It aims to bring the full multimedia support Tox offers to your device, although it's still currently in heavy development. Antox is built on <a href="https://www.google.com/design/spec/material-design/introduction.html#">Google's Material Design Guidelines</a>, and is both fast and fluid. Support for stickers, geo-location, and other services offered by competing instant messaging applications are currently being decided upon.</p>
			</div>

            <hr>

			<div id="antidote" class="row">
				<a href="#antidote-images" class="img-container"><img src="theme/img/client/antidote_1.png"></a>
				<h2 class="header">Antidote</h2>

				<table class="table table-condensed">
					<tbody>
						<tr>
							<th>Repository:</th>
							<th><a href="https://github.com/Antidote-for-Tox/Antidote">https://github.com/Antidote-for-Tox/Antidote</a></th>
						</tr>
						<tr>
							<th>Maintainers:</th>
							<th><a href="https://github.com/Chuongv">Chuongv</a>, <a href="https://github.com/dvor">dvor</a></th>
						</tr>
						<tr>
							<th>Language:</th>
							<th>Objective-C</th>
						</tr>
						<tr>
							<th>Graphical Toolkit:</th>
							<th>N/A</th>
						</tr>
						<tr>
							<th>Operating Systems:</th>
							<th>iOS</th>
						</tr>
					</tbody>
				</table>

				<p class="lead">Antidote is an iOS client for Tox. It works on both iPhone and iPad. You can download Antidote on <a href="https://antidote.im/">https://antidote.im/</a></p>
			</div>
		</div>
	</section>

	<section id="os-support" class="features">
		<div class="container-fluid limit-width">
			<h1>OS support:</h1>
			<hr>

			<table class="table table-bordered table-condensed" style="margin:auto;width:60%;">
				<thead>
					<tr>
						<th></th>
						<th>Win&shy;dows</th>
						<th>GNU/ Linux</th>
						<th>BSD</th>
						<th>OSX</th>
						<th>And&shy;roid</th>
						<th>iOS</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th>qTox</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>uTox</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="warning">Min&shy;imal</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Ricin</th>
						<th class="warning">Coming soon</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Toxygen</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Toxic</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Antox</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
						<th class="danger">No</th>
					</tr>

					<tr>
						<th>Antidote</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="danger">No</th>
						<th class="success">Yes</th>
					</tr>
				</tbody>
			</table>
		</div>
	</section>

	<section id="modals">
		<div id="qtox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="qtox-images-control1" name="qtox-images-controls" checked="checked">
					<label for="qtox-images-control1"></label>
					<input type="radio" id="qtox-images-control2" name="qtox-images-controls">
					<label for="qtox-images-control2"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/qtox_mac.png"></div></li>
							<li><div><img src="theme/img/client/qtox_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="utox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="utox-images-control1" name="utox-images-controls" checked="checked">
					<label for="utox-images-control1"></label>
					<input type="radio" id="utox-images-control2" name="utox-images-controls">
					<label for="utox-images-control2"></label>
					<input type="radio" id="utox-images-control3" name="utox-images-controls">
					<label for="utox-images-control3"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/utox_mac.png"></div></li>
							<li><div><img src="theme/img/client/utox_linux.png"></div></li>
							<li><div><img src="theme/img/client/utox_windows.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="ricin-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="ricin-images-control1" name="ricin-images-controls" checked="checked">
					<label for="ricin-images-control1"></label>
					<input type="radio" id="ricin-images-control2" name="ricin-images-controls">
					<label for="ricin-images-control2"></label>
					<input type="radio" id="ricin-images-control3" name="ricin-images-controls">
					<label for="ricin-images-control3"></label>
					<input type="radio" id="ricin-images-control4" name="ricin-images-controls">
					<label for="ricin-images-control4"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/ricin_linux.png"></div></li>
							<li><div><img src="theme/img/client/ricin_linux_02.png"></div></li>
							<li><div><img src="theme/img/client/ricin_linux_03.png"></div></li>
							<li><div><img src="theme/img/client/ricin_linux_04.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="toxygen-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="toxygen-images-control1" name="toxygen-images-controls" checked="checked">
					<label for="toxygen-images-control1"></label>
					<input type="radio" id="toxygen-images-control2" name="toxygen-images-controls">
					<label for="toxygen-images-control2"></label>
					<input type="radio" id="toxygen-images-control3" name="toxygen-images-controls">
					<label for="toxygen-images-control3"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/toxygen_1.png"></div></li>
							<li><div><img src="theme/img/client/toxygen_2.png"></div></li>
							<li><div><img src="theme/img/client/toxygen_3.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="toxic-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="toxic-images-control1" name="toxic-images-controls" checked="checked">
					<label for="toxic-images-control1"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/toxic_linux.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="antox-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="antox-images-control1" name="antox-images-controls" checked="checked">
					<label for="antox-images-control1"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/antox.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="antidote-images" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<div class="slider">
					<input type="radio" id="antidote-images-control1" name="antidote-images-controls" checked="checked">
					<label for="antidote-images-control1"></label>
					<input type="radio" id="antidote-images-control2" name="antidote-images-controls">
					<label for="antidote-images-control2"></label>
					<input type="radio" id="antidote-images-control3" name="antidote-images-controls">
					<label for="antidote-images-control3"></label>

					<div class="sliderinner">
						<ul>
							<li><div><img src="theme/img/client/antidote_1.png"></div></li>
							<li><div><img src="theme/img/client/antidote_2.png"></div></li>
							<li><div><img src="theme/img/client/antidote_3.png"></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock %}
