{% extends '_base.html' %}
{% block title %}Download{% endblock %}
{% block content %}
	<section id="cover" class="dl center dark">
		<div class="container-fluid limit-width">
			<div id="cover-line">
				<div class="col-sm-4"><img id="platImg" src="theme/img/icon.svg" alt=""></div>
				<div class="col-sm-8">
					<h1 class="header">Thanks for downloading!</h1>
					<p class="lead">
						After you've installed, <a href="#social">invite some friends</a> to join you on Tox! Want to know more about the different clients? See our <a href="clients.html">clients list</a>.
					</p>

					<h5><a href="#warning">Note: Tox is still under heavy development — expect to run into some bugs.</a></h5>

					<span id="defaultButton">
						<a href="#oses" class="button large-button download">
							<span class="fa fa-download">&nbsp;</span>Download
						</a>
					</span>

					<span id="buttonArea">

					</span>

				</div>
			</div>
		</div>
	</section>

	<section id="oses" class="features">
		<h1>All Platforms:</h1>
		<br>
		<div class="container-fluid limit-width">
			<div class="row">
				<div class="col-sm-4 feature">
					<img src="theme/img/plat/windows_dark.svg">
					<h2>Windows</h2>
					<p class="lead">qTox: <a href="https://github.com/qTox/qTox/releases/download/v1.17.3/setup-qtox-i686-release.exe">32 bit</a> / <a href="https://github.com/qTox/qTox/releases/download/v1.17.3/setup-qtox-x86_64-release.exe">64 bit</a></p>
					<p class="lead" style="margin-top:-15px;">qTox nightly: <a href="https://github.com/qTox/qTox-nightly-releases/releases/download/ci-master-latest/qtox-i686-release.zip">32 bit</a> / <a href="https://github.com/qTox/qTox-nightly-releases/releases/download/ci-master-latest/qtox-x86_64-release.zip">64 bit</a></p>
					<p class="lead" style="margin-top:-15px;">uTox: <a href="https://github.com/uTox/uTox/releases/download/v0.18.0/utox_x86_64.exe">64 bit</a></p>
				</div>

				<div class="col-sm-4 feature">
					<img src="theme/img/plat/mac_dark.svg">
					<h2>macOS</h2>
					<p class="lead"><a href="https://github.com/qTox/qTox/releases/download/v1.17.3/qTox.dmg">qTox</a></p>
					<p class="lead" style="margin-top:-15px;"><a href="https://github.com/qTox/qTox-nightly-releases/releases/download/ci-master-latest/qTox.dmg">qTox nightly</a></p>
				</div>

				<div class="col-sm-4 feature">
					<img src="theme/img/plat/linux_dark.svg">
					<h2>Linux</h2>
					<p class="lead">Please check in the package repository of your distribution.</p>
					<p class="lead">qTox: <a href="https://flathub.org/apps/details/io.github.qtox.qTox">Flathub</a> / <a href="https://github.com/qTox/qTox/releases/download/v1.17.3/qTox-v1.17.3.x86_64.AppImage">AppImage</a></p>
					<p class="lead" style="margin-top:-15px;">qTox nightly: <a href="https://github.com/qTox/qTox-nightly-releases/releases/download/ci-master-latest/qtox.flatpak">Flatpak</a> / <a href="https://github.com/qTox/qTox-nightly-releases/releases/tag/ci-master-latest">AppImage</a></p>
					<p class="lead" style="margin-top:-15px;">Toxic nightly, mostly static: <a href="https://build.tox.chat/job/toxic_build_linux_x86_release/lastSuccessfulBuild/artifact/toxic_build_linux_x86_release.tar.xz">32 bit</a> / <a href="https://build.tox.chat/job/toxic_build_linux_x86-64_release/lastSuccessfulBuild/artifact/toxic_build_linux_x86-64_release.tar.xz">64 bit</a></p>
					<p class="lead" style="margin-top:-15px;">Toxic nightly, fully static, but without audio/video: <a href="https://build.tox.chat/job/toxic-no-x11-musl_build_linux_x86_release/lastSuccessfulBuild/artifact/toxic-no-x11-musl_build_linux_x86_release.tar.xz">32 bit</a> / <a href="https://build.tox.chat/job/toxic-no-x11-musl_build_linux_x86-64_release/lastSuccessfulBuild/artifact/toxic-no-x11-musl_build_linux_x86-64_release.tar.xz">64 bit</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-4 feature">
					<img src="theme/img/plat/freebsd_dark.svg">
					<h2>FreeBSD</h2>
					<p class="lead"><a href="https://www.freshports.org/net-im/qTox">qTox on Freshports</a></p>
					<p class="lead" style="margin-top:-15px;"><a href="https://www.freshports.org/net-im/uTox">uTox on Freshports</a></p>
					<p class="lead" style="margin-top:-15px;"><a href="https://www.freshports.org/net-im/toxic">Toxic on Freshports</a></p>
				</div>

				<div class="col-sm-4 feature">
					<img src="theme/img/plat/android_dark.svg">
					<h2>Android</h2>
					<p class="lead">aTox: <a href="https://github.com/evilcorpltd/aTox/releases/download/v0.5.1/atox.apk">APK</a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="fordevelopers" class="features">
		<h1>For Developers:</h1>
		<br>
		<div class="container-fluid limit-width">
			<div class="row">
				<div class="col-sm-6 feature">
					<h2>Toxcore</h2>
					<p class="lead">
						<a href="https://github.com/TokTok/c-toxcore">TokTok/c-toxcore</a>
						<a class="button" href="#toktok-c-toxcore" title="More info"><span class="fa fa-info-circle"></span></a>
					</p>
					<p class="lead" style="margin-top:-15px;">
						<a href="https://github.com/irungentoo/toxcore">irungentoo/toxcore</a>
						<a class="button" href="#irungentoo-toxcore" title="More info"><span class="fa fa-info-circle"></span></a>
					</p>
				</div>

				<div class="col-sm-6 feature">
					<h2>Language bindings</h2>
					<p class="lead">Go: <a href="https://github.com/TokTok/go-toxcore-c">go-tox</a></p>
					<p class="lead" style="margin-top:-15px;">Java/Scala: <a href="https://github.com/TokTok/jvm-toxcore-c">jvm-toxcore-c</a></p>
					<p class="lead" style="margin-top:-15px;">Nim: <a href="https://git.sr.ht/~ehmry/nim_tox">toxcore</a></p>
					<p class="lead" style="margin-top:-15px;">Python: <a href="https://github.com/TokTok/py-toxcore-c">PyTox</a></p>
					<p class="lead" style="margin-top:-15px;">Vala: <a href="https://github.com/naxuroqa/vala-toxcore-c">Tox VAPIs</a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="modals">
		<div id="warning" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>Warning!</h2>

				<p>This page contains links to the most recently built binaries for each Tox client. Keep in mind that these clients are alpha software under heavy development, and are probably not ready for day-to-day use. Because of how significantly the code is still changing, a professional audit hasn't yet been started. You will probably run into various usability bugs, and may even encounter dangerous security vulnerabilities.</p>
				<p>That having been said, hundreds of people around the world have devoted time, effort, and resources to the project in an effort to make Tox as secure as possible. While open source projects are not immune to serious longstanding security vulnerabilities, their threat is greatly reduced, as the code is open for anyone to review. Over time, as Tox gets closer to being stable, a proper security audit will be conducted, and the code will be checked thoroughly for any possible security concerns.</p>
			</div>
		</div>

		<div id="social" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>Share the Love</h2>

				<p>This is where you tell your friends how awesome Tox is.</p>
				<p>(These are all manual sharing links, no creepy tracking widgets.)</p>
				<section class="tabsection">
					<input id="tab-10" name="shareOpt" checked="checked" type="radio">
					<!--default option shows nothing-->
					<input id="tab-20" name="shareOpt" type="radio">
					<label for="tab-20" class="tablabel"><span class="icon-dramabird"></span></label>
					<div class="tabdiv">
						<p>Tweet your friends:</p>
						<p class="socialquote">Tired of worrying if someone's reading your conversations? Ditch Skype and other unsafe chat programs for #tox! </p>
						<a href="http://twitter.com/home?status=Tired%20of%20worrying%20if%20someone%27s%20reading%20your%20conversations?%20Ditch%20Skype%20and%20other%20unsafe%20chat%20programs%20for%20%23Tox!%20https://tox.chat/" target="_blank" class="socialbutton tweet">
							<span class="fa fa-twitter">&nbsp;</span>Tweet
						</a>
					</div>
					<input id="tab-30" name="shareOpt" type="radio">
					<label for="tab-30" class="tablabel"><span class="icon-minionbook"></span></label>
					<div class="tabdiv">
						<p>Post on Facebook:</p>
						<p class="socialquote">Whether it's corporations or governments, there's just too much digital spying going on today. Tox is easy-to-use software that connects you with friends and family without anyone else listening in. While other big-name services require you to pay for features, Tox is totally free and comes without advertising — forever.</p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=tox.chat" target="_blank" class="socialbutton facebook">
							<span class="fa fa-facebook">&nbsp;&nbsp;</span>Share
						</a>
					</div>
					<input id="tab-40" name="shareOpt" type="radio">
					<label for="tab-40" class="tablabel"><span class="icon-diaspora"></span></label>
					<div class="tabdiv">
						<p>Share on Diaspora:</p>
						<p class="socialquote">Join me on Tox, a distributed, encrypted, multimedia messenger!</p>
						<a href="http://sharetodiaspora.github.io/?title=Join me on Tox, a distributed, encrypted, multimedia messenger!&url=http://tox.chat" target="_blank" class="socialbutton diaspora">
							<span class="fa">d*&nbsp;</span>Post
						</a>
					</div>
				</section>
			</div>
		</div>

		<div id="irungentoo-toxcore" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>irungentoo/toxcore</h2>

				<p class="lead">irungentoo/toxcore is the original Toxcore. This repository is not active anymore because irungentoo wants any changes to be reviewed and approved by him, but he has been unable to find time to work on Toxcore to do the said reviews and approvals. In order to continue the development of Toxcore, the TokTok/c-toxcore non-hostile fork has been made by active Toxcore developers where the development is currently ongoing. If you are deciding which Toxcore to use, TokTok/c-toxcore is the right one.</p>
			</div>
		</div>

		<div id="toktok-c-toxcore" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>TokTok/c-toxcore</h2>

				<p class="lead">TokTok/c-toxcore is a non-hostile fork of the original irungentoo/toxcore. The fork was made by active Toxcore developers due to irungentoo wanting to review and approve any changes submitted into his repository, but being unable to do so as he is unable to find time to work on Toxcore. This is the Toxcore that is being actively developed and this is also the Toxcore that all clients use.</p>
			</div>
		</div>
	</section>

	<script src="theme/js/osdetect.js"></script>
{% endblock %}
