{% extends '_base.html' %}
{% block title %}Download{% endblock %}
{% block content %}
	<section id="cover" class="dl center dark">
		<div class="container-fluid limit-width">
			<div id="cover-line">
				<div class="col-sm-4"><img id="platImg" src="theme/img/icon.svg" alt=""></div>
				<div class="col-sm-8">
					<h1 class="header">Thanks for choosing Tox!</h1>
					<p class="lead">
						After you've installed, try <a href="tox:56A1ADE4B65B86BCD51CC73E2CD4E542179F47959FE3E0E21B4B0ACDADE51855D34D34D37CB5">adding GroupBot</a>, and then <a href="#social">invite some friends</a>! Want to know more about the different clients? See our <a href="clients.html">clients list</a>.
					</p>

					<h5><a href="#warning">Note: Tox is still under heavy development — expect to run into some bugs.</a></h5>

					<span id="defaultButton">
						<a href="#oses" class="button large-button download">
							<span class="fa fa-download">&nbsp;</span>Download
						</a>
					</span>

					<span id="buttonArea">

					</span>

				</div>
			</div>
		</div>
	</section>

	<section id="oses" class="features">
		<h1 class="def-cursor"><a onClick="toggle_visibility('clients'); return false;">See downloads for all platforms</a></h1>
		<br>
		<div class="container-fluid limit-width" id="clients">
			{% set i = 0 %}
			<!--list of clients with download links-->
			{% for client in CLIENTS %}
				{% if i % 3 == 0 %}
					<div class="row">
				{% endif %}
				<div class="col-sm-4 feature">
					<img src="{{ client.logo }}" alt="{{ client.name }}" height="200">
					<h2>{{ client.name }}</h2>
					<p class="lead">|
					{% for OS in client.platforms %}
						<a href="#{{ client.name }}_{{ OS }}">{{ OS }}</a> |
					{% endfor %}
					</p>
				</div>
				{% if i % 3 == 2 %}
					</div>
				{% endif %}
				{% set i = i + 1 %}
			{% endfor %}
		</div>
	</section>

	<section id="modals">
		<!--modal windows for clients-->
		{% for client in CLIENTS %}
			{% for OS, value in client.iteritems() %}
				{% if OS in client.platforms %}
					<div id="{{ client.name }}_{{ OS }}" class="modalDialog button">
						<div>
							<a href="#close" class="close-overlay"></a>
							<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

							<h2>{{ client.name }}</h2>
							<section class="tabsection">
								{% for download_type, download_links in value.iteritems() %} <!--download_type - stable, nightly, packages, download_links - array of links-->
									{% for link, href in download_links.iteritems() %}
										<label class="tablabel" title="{{ link }}">
											{% if link != 'tox.chat' %}
												<a href="{{ href }}">
											{% else %}
												<a href="#gnulinux" onclick="modifyModalWindow('{{ client.name }}');return true;">
											{% endif %}
												<span class="text">{{ link }}
													{% if download_type != 'link' %}
														({{ download_type }})
													{% endif %}
												</span>
											</a>
										</label>
									{% endfor %}
								{% endfor %}
							</section>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}

		<div id="gnulinux" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>Linux</h2>
				<p>Note: support for more distros is coming soon. Experienced package maintainers wanted. Contact infrastructure@tox.chat for more info.</p>
				<section class="tabsection">
					<input id="tab-1" name="distroOpt" checked="checked" type="radio">
					<!--default option shows nothing-->
					<input id="tab-2" name="distroOpt" type="radio">
					<label for="tab-2" class="tablabel" title="Debian">
						<span class="icon-debian"></span>
						<span class="text">Debian</span>
					</label>
					<div class="tabdiv">
						<p>For distributions utilising the deb package format, you'll need to run the following commands to add our repository.</p>
						<p>Please note that only Debian Sid, Jessie and Stretch are officially supported. If your distribution is not supported you can find compilation instructions on client repos (check <a href="clients.html">the clients page</a>).</p>
						<pre>echo "deb https://pkg.tox.chat/debian nightly $(lsb_release -cs)" | sudo tee /etc/apt/sources.list.d/tox.list
wget -qO - https://pkg.tox.chat/debian/pkg.gpg.key | sudo apt-key add -
sudo apt-get install apt-transport-https
sudo apt-get update</pre>
						<p id="install_debian">And to install (for example) uTox:</p>
						<pre id="install_script_debian">sudo apt-get install utox</pre>
						<p>To see all available packages:</p>
						<pre>cat /var/lib/apt/lists/pkg.tox.chat* | grep "Package: "</pre>
					</div>

					<input id="tab-2" name="distroOpt" type="radio">
					<label for="tab-2" class="tablabel" title="Ubuntu">
						<span class="icon-ubuntu"></span>
						<span class="text">Ubuntu</span>
					</label>
					<div class="tabdiv">
						<p>For distributions utilising the deb package format, you'll need to run the following commands to add our repository.</p>

						<p>Please note that only Ubuntu Vivid and Wily are officially supported. If your distribution is not supported you can find compilation instructions on client repos (check <a href="clients.html">the clients page</a>).</p>
						<pre>echo "deb https://pkg.tox.chat/debian nightly $(lsb_release -cs)" | sudo tee /etc/apt/sources.list.d/tox.list
wget -qO - https://pkg.tox.chat/debian/pkg.gpg.key | sudo apt-key add -
sudo apt-get install apt-transport-https
sudo apt-get update</pre>

						<p>And to install (for example) uTox:</p>
						<p id="install_ubuntu">And to install (for example) uTox:</p>
						<pre id="install_script_ubuntu">sudo apt-get install utox</pre>

						<pre>cat /var/lib/apt/lists/pkg.tox.chat* | grep "Package: "</pre>
					</div>

					<input id="tab-3" name="distroOpt" type="radio">
					<label for="tab-3" class="tablabel" title="Gentoo">
						<span class="icon-gentoo"></span>
						<span class="text">Gentoo</span>
					</label>
					<div class="tabdiv">
						<p>The Tox Project overlay is in the official Layman list.</p>
						<p>To add it:</p>
						<pre>layman -a tox-overlay</pre>
						<p>Then install your client of choice:</p>
						<pre>emerge --ask &lt;client_name&gt;</pre>
						<p>If you'd like to submit changes, or report issues, you can <a href="https://github.com/Tox/gentoo-overlay-tox">find the overlay on Github</a>.</p>
					</div>

					<input id="tab-4" name="distroOpt" type="radio">
					<label for="tab-4" class="tablabel" title="Arch">
						<span class="icon-arch"></span>
						<span class="text">Arch</span>
					</label>
					<div class="tabdiv">
						<p>Toxcore, Toxic, and qTox are available in the Arch community repo. To install (for example) qTox:</p>
						<pre>pacman -S qtox</pre>
						<p>Alternatively there are some packages available in the AUR. To install (for example) µTox from the AUR:</p>
						<pre>yaourt -S utox</pre>
						<p>Supported PKGBUILDs are located <a href="https://github.com/Tox/arch-repo-tox">here</a>.</p>
						<p>If you have an issue with Tox and you installed Tox using an AUR package, please compile that package from source before filing a bug report. If the issue appears to be on the Arch maintainer's side (eg: compiles from source fine, but the PKGBUILD fails), please contact the package maintainer and let them know!</p>
					</div>
				</section>
			</div>
		</div>

		<div id="social" class="modalDialog button">
			<div>
				<a href="#close" class="close-overlay"></a>
				<a href="#close" title="Close" class="close"><span class="fa fa-close">&nbsp;</span></a>

				<h2>Share the Love</h2>

				<p>This is where you tell your friends how awesome Tox is.</p>
				<p>(These are all manual sharing links, no creepy tracking widgets.)</p>
				<section class="tabsection">
					<input id="tab-10" name="shareOpt" checked="checked" type="radio">
					<!--default option shows nothing-->
					<input id="tab-20" name="shareOpt" type="radio">
					<label for="tab-20" class="tablabel"><span class="icon-dramabird"></span></label>
					<div class="tabdiv">
						<p>Tweet your friends:</p>
						<p class="socialquote">Tired of worrying if someone's reading your conversations? Ditch Skype and other unsafe chat programs for #tox! </p>
						<a href="http://twitter.com/home?status=Tired%20of%20worrying%20if%20someone%27s%20reading%20your%20conversations?%20Ditch%20Skype%20and%20other%20unsafe%20chat%20programs%20for%20%23Tox!%20https://tox.chat/" target="_blank" class="socialbutton tweet">
							<span class="fa fa-twitter">&nbsp;</span>Tweet
						</a>
					</div>
					<input id="tab-30" name="shareOpt" type="radio">
					<label for="tab-30" class="tablabel"><span class="icon-minionbook"></span></label>
					<div class="tabdiv">
						<p>Post on Facebook:</p>
						<p class="socialquote">Whether it's corporations or governments, there's just too much digital spying going on today. Tox is easy-to-use software that connects you with friends and family without anyone else listening in. While other big-name services require you to pay for features, Tox is totally free and comes without advertising — forever.</p>
						<a href="https://www.facebook.com/sharer/sharer.php?u=tox.chat" target="_blank" class="socialbutton facebook">
							<span class="fa fa-facebook">&nbsp;&nbsp;</span>Share
						</a>
					</div>
					<input id="tab-40" name="shareOpt" type="radio">
					<label for="tab-40" class="tablabel"><span class="icon-diaspora"></span></label>
					<div class="tabdiv">
						<p>Share on Diaspora:</p>
						<p class="socialquote">Join me on Tox, a distributed, encrypted, multimedia messenger!</p>
						<a href="http://sharetodiaspora.github.io/?title=Join me on Tox, a distributed, encrypted, multimedia messenger!&url=http://tox.chat" target="_blank" class="socialbutton diaspora">
							<span class="fa">d*&nbsp;</span>Post
						</a>
					</div>
				</section>
			</div>
		</div>
	</section>

	<script src="theme/js/osdetect.js"></script>
	<script>
		function toggle_visibility(id) {
			var e = document.getElementById(id);
			if(e.style.display == '')
				e.style.display = 'none';
			else
				e.style.display = '';
		}

		function addClient(arch, client, link, text=''){
			var button = "\
				<a id='link" + i + "' href='" + link + "'" + text + " class='button large-button download'>\
					<span class='fa fa-" + client.logo + "'>&nbsp;</span>" + client.name + ' ' + arch + "\
				</a>";
				var infoButton = "\
		<a class='button large-button' style='box-shadow:none;color:#368CCA;' href='clients.html#" + client.name.toLowerCase() + "' title='More info'>\
			<span class='fa fa-info-circle'></span>\
		</a>";
				document.getElementById("buttonArea").innerHTML += button + infoButton + "<br/>";
		}

		function modifyModalWindow(client_name){
			package_name = client_name.toLowerCase();
			document.getElementById("install_debian").innerHTML = 'Install ' + client_name + ':';
			document.getElementById("install_script_debian").innerHTML = 'sudo apt get install ' + package_name;
			document.getElementById("install_ubuntu").innerHTML = 'Install ' + client_name + ':';
			document.getElementById("install_script_ubuntu").innerHTML = 'sudo apt get install ' + package_name;
		}

		// Set platform toxlock
		OSName = get_os();
		arch = get_arch() + '-bit';
		document.getElementById("platImg").src = "theme/img/plat/" + OSName.toLowerCase() + ".svg";

		// Remove normal button
		document.getElementById("defaultButton").innerHTML = "";
		// Loop through all links and make buttons and info modals
		clients = {{ CLIENTS }};
		for (var i = 0; i < clients.length; i++){
			obj = clients[i];

			var link = '';
			try {
				link = obj[OSName]['stable'][arch] || obj[OSName].link[0];
			} catch (e) {}
			if (link){
				addClient(arch, obj, link);
			}

			var tox_chat_packages = obj[OSName] && obj[OSName]['packages'] && obj[OSName]['packages']['tox.chat'];
			if (tox_chat_packages){
				addClient(arch, obj, '#gnulinux', " onclick='modifyModalWindow(\"" + obj.name + "\");return true;' ");
			}

			var OBS = obj[OSName] && obj[OSName]['packages'] && obj[OSName]['packages']['OBS'];
			if (OBS){
				addClient(arch, obj, OBS);
			}
		}
		if (OSName !== 'Unknown'){
			toggle_visibility('clients');
		}
	</script>
{% endblock %}
