{% extends 'website/templates/_base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}
	<section id="faqintro" class="dark center">
		<div class="container-fluid limit-width">
			<h1 class="header">FAQ</h1>

			<p class="lead">The most common questions we get are answered here. If you have a question for us that you think should appear in this list that doesn't, send an email to the support mailing list with your suggestion: <a href="mailto:support@lists.tox.chat">support@lists.tox.chat</a></p>
		</div>
	</section>

	<section id="faq">
		<div class="container-fluid limit-width">
			<h1 class="center header">User FAQ</h1>
			<h5 class="center"><a href="#techfaq">Skip to technical FAQ (advanced)</a></h5>

			<ul class="lead">
				<li><a href="#how-tox-privacy">How does Tox protect my privacy?</a></li>
				<li><a href="#how-add-friend">How do I add someone to my contacts list?</a></li>
				<li><a href="#what-when-remove">What happens when I remove someone from my contacts list?</a></li>
				<li><a href="#tox-leak-ip">Does Tox leak my IP address?</a></li>
			</ul>
			<hr>
			<div id="how-tox-privacy">
				<h3>How does Tox protect my privacy?</h3>

				<p class="lead">Tox protects your privacy by:</p>
				<ul>
					<li>Removing the need to rely on central authorities to provide messenger services</li>
					<li>Concealing your identity (in the form of meta-data, e.g. your IP address) from people who are not your authorized friends</li>
					<li>Enforcing end-to-end encryption with <a href="https://en.wikipedia.org/wiki/Forward_secrecy">perfect forward secrecy</a> as the default and only mode of operation for all messages</li>
					<li>Making your identity impossible to forge without the possesion of your personal private key, which never leaves your computer</li>
				</ul>
			</div>
			<hr>
			<div id="how-add-friend">
				<h3>How do I add someone to my contacts list?</h3>

				<p class="lead">Look in the profile or settings panel of your client to get your Tox ID which should look something like:</p>
				<pre>56A1ADE4B65B86BCD51CC73E2CD4E542179F47959FE3E0E21B4B0ACDADE51855D34D34D37CB5</pre>

				<p class="lead">Give yours to your friend and get your friend to add it. That's it.</p>

				<p class="lead">If you want a shorter and more memorable ID, you can use a service like <a href="https://toxme.io/">ToxMe</a>, that maps an  email-address-style username to a Tox ID. However, an individual concerned about their security should avoid using these services where possible. Unfortunately, the cost of this convenient name-to-Tox ID mapping is a loss of decentralization. You must trust that the entity running the service is serving you (and others looking for you) accurate information. If you're not careful, you may be subject to <a href="https://en.wikipedia.org/wiki/Man-in-the-middle_attack">MITM attacks</a>.</p>
			</div>
			<hr>
			<div id="what-when-remove">
				<h3>What happens when I remove someone from my contacts list?</h3>

				<p class="lead">If you remove someone from your contacts list, they will see you go offline, as if you closed your client normally. They can't communicate with you any longer until you add them to your contacts list again.</p>
			</div>
			<hr>
			<div id="tox-leak-ip">
				<h3>Does Tox leak my IP address?</h3>

				<p class="lead">Tox makes no attempt to cloak your IP address when communicating with friends, as the whole point of a peer-to-peer network is to connect you directly to your friends. A workaround does exist in the form of tunneling your Tox connections through Tor. However, a non-friend user cannot discover your IP address using only a Tox ID; your IP address will only be discernible when you accept/send a friend request, and add a user to your contacts list.</p>

				<p class="lead">See Also: <a href="#tox-tracking-dht">What is stopping people from tracking me through the public DHT (advanced)</a>.</p>
			</div>

			<hr>

			<h1 id="techfaq" class="center">Technical FAQ (advanced)</h1>
			<h5 class="center"><a href="#faq">Back to user FAQ</a></h5>

			<ul class="lead">
				<li><a href="#tox-central-servers">Does Tox rely on central servers?</a></li>
				<li><a href="#tox-encryption-algorithm">Which encryption algorithms does Tox employ?</a></li>
				<li><a href="#bootstrap-node-list">Where can I find a public DHT node to bootstrap with?</a></li>
				<li><a href="#tox-av-used">What codecs does Toxcore use for audio and video?</a></li>
				<li><a href="#tox-tracking-dht">What is stopping people from tracking me through the public DHT?</a></li>
			</ul>
			<hr>
			<div id="tox-central-servers">
				<h3>Does Tox rely on central servers?</h3>

				<p class="lead">No. That said, in some situations a client will choose to use <a href="https://nodes.tox.chat/">publicly listed bootstrap nodes</a> to find their way into the DHT.</p>
			</div>
			<hr>
			<div id="tox-encryption-algorithm">
				<h3>Which encryption algorithms does Toxcore employ?</h3>

				<p class="lead">Tox uses the cryptographic primitives present in the <a href="http://nacl.cr.yp.to/index.html">NaCl crypto library</a>, via <a href="https://github.com/jedisct1/libsodium">libsodium</a>. Specifically, Tox employs <a href="https://en.wikipedia.org/wiki/Curve25519">curve25519</a> for its key exchanges, <a href="https://download.libsodium.org/doc/advanced/xsalsa20.html">xsalsa20</a> for symmetric encryption, and <a href="https://en.wikipedia.org/wiki/Poly1305">poly1305</a> for MACs.</p>
			</div>
			<hr>
			<div id="bootstrap-node-list">
				<h3>Where can I find a public DHT node to bootstrap with?</h3>

				<p class="lead">Check out our <a href="https://nodes.tox.chat">public nodes list</a> for an updated list, including <a href="https://nodes.tox.chat/json">machine-readable JSON output</a>.</p>
			</div>
			<hr>
			<div id="tox-av-used">
				<h3>What codecs does Toxcore use for audio and video?</h3>

				<p class="lead"><a href="http://opus-codec.org/">Opus</a> for audio, and <a href="https://en.wikipedia.org/wiki/VP8">VP8</a> for video.</p>
				<p class="lead">Tox does not make use of SIP.</p>
			</div>
			<hr>
			<div id="tox-tracking-dht">
				<h3>What is stopping people from tracking me through the public DHT?</h3>

				<p class="lead">Tox generates a temporary public/private key pair used to make connections to non-friend peers in the DHT. <a href="https://en.wikipedia.org/wiki/Onion_routing">Onion routing</a> is used to store and locate Tox IDs, to make it more difficult to, for example, associate Alice and Bob together by who they are looking for in the network.</p>
			</div>
		</div>
	</section>
{% endblock %}
